<!DOCTYPE html>


<h2><p class="text-center"> Are You Smarter Than a Congressman? Or Congresswoman?</p></h2>
<div>
  </div>
<div class="jumbotron">
      <div class="container">
      <h3><p class="text-center"> The Game Explained</p></h3>
      
      <div></div>
      
      <p class="text-center">
        Want to see if you're smarter than the House Speaker?
      </p> 
      
      <p>
        You can, but you'll need to move up the ranks of Capitol Hill before you can challenge the third-in-line to the U.S. presidency. Beat a representative from each class (freshman, sophomore, and established) to go tete-a-tete with the House Speaker. Test your knowledge against the masters of Capitol Hill!</p>
    </div>
  </div>
</div>
  <%= yield %>

</div>
</body>
</html>