<!DOCTYPE html>
<p>
  <h1>Test your knowledge against the masters of Capitol Hill!</h1>
</p>
      <div class="jumbotron">
        <h1>You Are Smarter Than a Congressman?</h1><h1>
        <p>
        <h2>Or Congresswoman?</h2>
        </p>
    <div>
      <h2> The Game Explained </h2>
      <p>
        Want to see if you're smarter than the House Speaker? You can, but you'll need to move up the ranks of Capitol Hill before you can challenge the third-in-line to the U.S. presidency. Beat a representative from each class (freshman, sophomore, and established) to go tete-a-tete with the House Speaker.
      </p>
    </div>
  </div>
</div>
  <%= yield %>

</div> -->
</body>
</html>