<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3>
        h3. Lorem ipsum dolor sit amet.
      </h3>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <img alt="140x140" src="http://lorempixel.com/140/140/" />
        </div>
        <div class="col-md-6 column">
          <ul>
            <li>
              Lorem ipsum dolor sit amet
            </li>
            <li>
              Consectetur adipiscing elit
            </li>
            <li>
              Integer molestie lorem at massa
            </li>
            <li>
              Facilisis in pretium nisl aliquet
            </li>
            <li>
              Nulla volutpat aliquam velit
            </li>
            <li>
              Faucibus porta lacus fringilla vel
            </li>
            <li>
              Aenean sit amet erat nunc
            </li>
            <li>
              Eget porttitor lorem
            </li>
          </ul>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Product
            </th>
            <th>
              Payment Taken
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td>
              Default
            </td>
          </tr>
          <tr class="active">
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td>
              Approved
            </td>
          </tr>
          <tr class="success">
            <td>
              2
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              02/04/2012
            </td>
            <td>
              Declined
            </td>
          </tr>
          <tr class="warning">
            <td>
              3
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              03/04/2012
            </td>
            <td>
              Pending
            </td>
          </tr>
          <tr class="danger">
            <td>
              4
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              04/04/2012
            </td>
            <td>
              Call in to confirm
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
