<head>Levels</head>
<div>
  <li>Freshmen Representatives</li>
  <li>Sophomore Representatives</li>
  <li>Established Representatives</li>
  <li>House Minority Leader</li>
  <li>Speaker of the House</li>
</div>